*~
*.iml
.idea
target
bower_components
node_modules
node
*.log
asciidoctor.css
README.html
built
build
.gradle
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
